@charset "UTF-8";

.resultHeader{
	border: 5px solid blue;

}

.logo_wrap, .search_wrap{
	height: 60px;
}

.logo_wrap, .search_wrap{
	float: left;
}

.search_wrap {
	width: 519px;
	position: relative;
}

.search_wrap input[type='text'] {
	width: 449px;
	height: 35px;
	padding-inline-start: 40px;
	padding-inline-end: 30px;
	border: none;
	box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .78);
	border-radius: 22px;
	margin-top: 12.5px;
}

.search_btn {
	margin: 15px;
    margin-top: 25px;
	font-size: 12px;
	color: #a3a3a3;
	z-index: 5;
	position: absolute;
	left: 5px;
	font-size: 12px;
	color: #a3a3a3;
}


