@charset "UTF-8";

.result_img_container{
	width: 99%;
	margin: 20px auto;
	overflow: hidden;
}


.result_img_container .image_item{
	box-sizing: border-box;
	float: left;
	padding: 0px 5px 10px;
}

.result_img_container .image_item img{
	width: 100%;
	text-align: center;
}

.image_item {
	width: 33.3%;
}

.image_item img {
	width: 100%;
}


/* Responsible */
@media ( max-width : 480px) {
	.result_img_container .image_item{
		width: 50%;
	}
}

.image_title{
	font-size: 13px;
	
}

.image_url{
	font-size: 12px;
}

.info{
	margin-top: 5px;
}


